.imgess{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.imgback{
    background-color:#e7eef6;
     height:80vh ;
}
.imgess img{
    height: 270px;    
    margin-top: 50px;

}
.imgess img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(-2%, -2%);

}